@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

html,
body {
    overflow-x: hidden !important;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}