@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

html,
body {
    overflow-x: hidden !important;
    position: relative;
    padding-top: 40px;
}

.div-root-content {
    position: relative;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

/* navbar settings */
.navbar-default {
    background-color: black;
    background-size: cover;
}

.navbar-brand-text {
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bold;
}

.navbar-header {
    padding-top: 10px;
}

.navbar-text {
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.navbar-background {
    background-color: transparent;
    color: white;
}

/* content section related */

.author-about-me-title {
    background-color: black;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
}

.about-me {
    background-color: black;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.contact-me {
    background-size: cover;
    background-color: grey;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

.author-about-me-title {
    font-size: 35px;
}

.author-about-me-text {
    font-size: 15px;
}

.author-image {
    width: 250px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.career {
    background-color: grey;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.contact-me-message-text {
    text-align: left;
    padding-right: 30px;
}

/* general styling */
.general-height-padding {
    height: 20px;
}

.general-align-center {
    text-align: center;
}

.grey-background {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(128, 128, 128, 0.5);
}

.placeholder {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.section-header-text {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

a.header,
a.header:hover {
    color: grey;
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
    color: black;
    text-decoration: none !important;
}

a.noline:visited,
a.noline:hover {
    color: black;
    background-color: rgba(128, 128, 128, 0.5);
    text-decoration: none;
    border-bottom-color: rgba(255, 255, 255, 0);
}

.anchor {
    display: block;
    height: 80px;
    /*same height as header*/
    margin-top: -80px;
    /*same height as header*/
    visibility: hidden;
}